h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 120%;
    margin: 0px 40px 0px;
}


#draft {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 130%;
    margin: 15px auto 30px;
    max-width: 1200px
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
    margin: 15px 40px 30px;
}


.first {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.hover_img {
    display: inline;
    margin-right: -16px;    
}

.project {
    max-width: 900px;
    display: block;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#store {
    width: 400px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #666666;
}


.hover_img a span { display:none; z-index:-1; }
.hover_img a:hover span { 
    opacity: 0.5;
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

a {

    background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 84%, 
        #222222 84%,
        #222222 88%,
        rgba(0,0,0,0) 88%,
        rgba(0,0,0,0)
    );
    text-decoration: none;
}

#back {
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

/h1::selection {
    background-color: darkorange;
    color: white;
}

/.first::selection {
    background-color: darkorange;
  color: white;
}