h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 120%;
    margin: 0px 40px 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 130%;
}

.caption {
    font-size: 12px;
    letter-spacing: .25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
}

.paragraphContainer {
    max-width: 1200px;
    margin: -20px auto;
    padding: 0px 90px 0px;
}

#draft {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 130%;
    margin: 15px auto 30px;
    max-width: 1200px
}

.first {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

a:link {
    color: #000000;
}

a:visited {
    color: #666666;
}


.hover_img a span { display:none; z-index:-1; }
.hover_img a:hover span { 
    opacity: 0.5;
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

a {
    text-decoration: none;    
}

#bodyLink {
    background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 84%, 
        #222222 84%,
        #222222 88%,
        rgba(0,0,0,0) 88%,
        rgba(0,0,0,0)
    );
}

.hover_img {
    background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 84%, 
        #222222 84%,
        #222222 88%,
        rgba(0,0,0,0) 88%,
        rgba(0,0,0,0)
    );
    display: inline;
    margin-right: -16px;    
}

.projectContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 90px 0px;
}

.project {
    width: 100%;
    max-width: 1600px;
    margin-bottom: 30px;

    background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 84%, 
        #ffffff 84%,
        #ffffff 88%,
        rgba(0,0,0,0) 88%,
        rgba(0,0,0,0)
    );
}

#tinyPic{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px;
    display: block;
}

#theothergif{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    display: block;
}

#store {
    display:block;
    max-width: 400px;
    margin: 0px auto 30px;
    text-align: center;
}

#back {
    font-size: 60px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.leftLinkContainer {
    width: 100vh;
    height: 80px;
    transform-origin: top left;
    position: fixed;
    left: 0;
    top: 100%;
    transform: rotate(-90deg);
}

.rightLinkContainer {
    width: 100vh;
    height: 80px;
    transform-origin: top right;
    position: fixed;
    right: 0;
    top: 100%;
    transform: rotate(90deg);
}

.sideLink {
    font-family: 'Roboto', serif;     
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .3px;
    text-align: center;
    margin-top: 40px;    
}

.sideLinkText{
    margin: 0px 6px 0px;
}

#arrowUpward{
    vertical-align: -3.5px;
    font-size: 18px;
}

#mobileArrow{
    display: none;
}

/*M O B I L E*/
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
        margin: 0px 10px 0px;
    }
    
    .hover_img {
    margin-right: -6px;    
    }
    
    .hover_img a:hover span {
        display: none;
    }
    
    .paragraphContainer {
        padding: 0px 10px 0px;
        margin: 0px auto;
    }
    
    .caption {
        margin-top: -10px;
    }
    
    p {
        font-size: 20px
    }
    
    .projectContainer {
        padding: 0px 10px 0px;
    }

    .project {
        margin-bottom: 10px;   
    }

    .leftLinkContainer {
    width: auto;
    height: 30px;
    position: static;
    left: default;
    transform: none;
    }

    .rightLinkContainer {
    width: auto;
    height: 60px;
    position: static;
    right: default;
    transform: none;
    
    }

    .sideLink {
    font-family: 'Roboto', serif;     
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .3px;
    text-align: center;
    margin-top: 40px;    
    }

    .sideLinkText{
    margin: 0px 6px 0px;
    }

    #arrowUpward{
    display: none;
    }
    
    #mobileArrow{
    display: unset;
    vertical-align: -3.5px;
    font-size: 18px;
    }
    
    #back {
    font-size: 40px
    }
    
}