body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Mobile sidebar scroll disable*/
body.sidebar-open {
  overflow-y: hidden;
}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



nav {
    margin: 0;
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 2;

    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    width: 100%;

    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .25px;
    color: #1a1a1a;
}

nav ul {
    margin: 56px 30px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    position: relative;
}

nav a {
    color: inherit;
    text-decoration: none;
}

#info-button {
    background-color: rgba(255, 153, 215, 1);
    padding: 5px 10px;
    border-radius: 500px;
}



#sidebar {
    position: fixed;
    width: 660px;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transform: translateX(660px);
    transition: opacity 0.2s ease-in-out, transform 0.001s ease-in-out;
    z-index: 3;
    right: 0;
    overflow-x: hidden;
}

#sidebar.show {
    opacity: 1;
    transform: translateX(0);
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    display: none;
}

.show #overlay {
    display: block;
}



#close-button {
    position: absolute;
    text-align: right;
    top: 35px;
    right: 34px;
    margin: 0 0 0 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .25px;
    color: #1a1a1a;
}

.sidebar-content {
    position: absolute;
    top: 0px;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 50px 39px;
    width: 560px;
    overflow-x: hidden;
}

#sidebar p {
    width: 560px;
    margin-top: 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: .25px;
    line-height: 130%;
}

#sidebar a {
    color: #1a1a1a;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#sidebar:hover {
    overflow-y: auto;
}



.hero {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 153, 215, 1) 0%, rgba(255, 204, 235, 1) 100%);
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    margin: 0 !important;
}

h1 {
    font-size: 90px;
    margin: 53px 90px;
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
} 




.projectContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 160px 60px;
}

#homepagePic {
    margin-bottom: 0px;
}

.project {
    width: 100%;
    max-width: 1600px;
    margin-bottom: 30px;
}

.coverContainer {
    margin-bottom: 70px;
}


.coverContainer h3 {
    margin-top: 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .25px;
    color: #1a1a1a;
    line-height: 150%;
}

.coverContainer h3 span {
    opacity: .75
}



/*PROJECT PAGES*/

.projectTitle{
    margin: 90px 0px 10px;
}

.caption {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    color: #1a1a1a;
    letter-spacing: .25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: -30px 0px 20px;
}

#tinyPic{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 30px;
    display: block;
}

#gif99{
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

/* Mobile sidebar scroll disable*/
body.projectSidebar-open {
  overflow-y: hidden;
}


#projectSidebar {
    position: fixed;
    width: 660px;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transform: translateX(660px);
    transition: opacity 0.2s ease-in-out, transform 0.001s ease-in-out;
    z-index: 3;
    right: 0;
    overflow-x: hidden;
     
    background: linear-gradient(180deg, rgba(255, 153, 215, 1) 0%, rgba(255, 204, 235, 1) 100%);
}

#projectSidebar.show {
    opacity: 1;
    transform: translateX(0);
}

#projectSidebar #close-button{
    position: fixed;
}


#projectSidebar p {
    width: 560px;
    margin-top: 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: .25px;
    line-height: 130%;
}


#projectSidebar .sidebar-content {
    position: absolute;
    top: 0px;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 80px 50px 30px;
    width: 560px;
    overflow-x: hidden;
}

#projectSidebar a {
    color: #1a1a1a;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}



.leftLinkContainer {
    width: 100vh;
    height: 80px;
    transform-origin: top left;
    position: fixed;
    left: 0;
    top: 100%;
    transform: rotate(-90deg);
}

.rightLinkContainer {
    width: 100vh;
    height: 80px;
    transform-origin: top right;
    position: fixed;
    right: 0;
    top: 100%;
    transform: rotate(90deg);
}

.sideLink {
    font-family: 'Archivo', serif;     
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .25px;
    text-align: center;
    margin-top: 69px;    
}

.sideLink a {
    color: #1a1a1a;
}

.sideLinkText{
    margin: 0px 6px 0px;
}

#arrowUpward{
    vertical-align: -3px;
    font-size: 18px;
}

#mobileArrow{
    display: none;
}



/*H I - D E F*/
@media only screen and (min-width: 1600px) {

    .hero h1 {
    font-size: 120px;    
    }


}



/*M O B I L E*/
@media only screen and (max-width: 768px) {
     
    nav ul {
    margin: 35px 15px;
    }
    
    
    #sidebar {
    width: 100%;
    transform: translateX(100%);
    }

    #sidebar.show {
    transform: translateX(0);
    }

    .sidebar-content {
    width: 100%;
    padding: 0 15px 1px;
    margin-bottom: 0px;
    box-sizing: border-box; /* add this line to include padding in width calculation */
    }

    #close-button {
    top: 14px;
    right: 9px;
    }

    #sidebar p {
    width: 100%;
    font-size: 22px;
    line-height: 130%;
    margin-top: -5px;
    }
    
    
    h1 {
    font-size: 44px;
    margin: 20px 15px;
    line-height: 115%;
    }
    
    .coverContainer {
    margin-bottom: 40px;
    }
    
    .projectContainer {
        padding: 15px 15px 0px;
    }

    #homepagePic{
        margin-bottom: 0px;   
    }
    
    .project {
        margin-bottom: 10px;   
    }
 
    
    /*PROJECT PAGES*/
    
    
    .caption {
    margin-top: -10px;
    }

    #projectSidebar {
    width: 100%;
    transform: translateX(100%);
    }

    #projectSidebar.show {
    transform: translateX(0);
    }
    
    #projectSidebar .sidebar-content {
    width: 100%;
    padding: 50px 15px 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    }
    
    
    #projectSidebar p {
    width: 100%;
    font-size: 22px;
    line-height: 130%;
    margin-top: -5px;
    }
    
        
    .leftLinkContainer {
    width: auto;
    height: 0px;
    position: static;
    left: default;
    transform: none;
    }

    .rightLinkContainer {
    width: auto;
    height: 60px;
    position: static;
    right: default;
    transform: none;    
    }

    .sideLink {
    text-align: center;
    margin-top: 40px;    
    }

    .sideLinkText{
    margin: 0px 6px 0px;
    }

    #arrowUpward{
    display: none;
    }
    
    #mobileArrow{
    display: unset;
    vertical-align: -3.5px;
    font-size: 18px;
    }
    
    
    
}